# compiled files

elm/elm-stuff/**

node_modules/**

# compiled but needed for live version on GH pages

# elm/elm.js

# jison/occam.js

# lezer/occam.js
# lezer/occam.terms.js

*.pdf
!report/final.pdf

*.kate-swp

# private

report/named_titlepage.md
