.navbar {
    background-color: #555555;
    display: flex;
}

.navbar > a {
    padding: 10px;
	color: #fff;
    text-decoration: none;
    border-right: 1px solid #9999;
}

.navbar > a:hover {
	background: #1a5fb4;
    transition: background-color .25s ease-out;
    cursor: pointer;
}

h3 > a {
    color: black;
    text-decoration: none;
}

.twopanel {
    display: flex;
    flex-direction: row;
}

.twopanel > div {
    width: 340px;
}

.twopanel > div > div {
    white-space: pre-wrap;
}
